.fruitsMainBlock {
  box-sizing: border-box;
  width: 590px;
  height: 400px;
  background: #52c5ff;
  border-radius: 10px;
  margin-right: 14px;
  padding: 8px 2px 8px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  z-index: 0;

  .fruitsMainBlockFilter {
    width: 100%;
    height: 46px;
    border: 2px solid #A9E3FF;
    border-radius: 10px;
    margin: 4px 4px 4px 4px;
    padding: 8px;
    position: sticky;
    top: 0px;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #089ae4;
    z-index: 1;

    .filterTitle {
      width: 60px;
      height: 26px;
      font-size: 13px;
      font-weight: 500;
      color: white;
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      justify-content: center;

      .filterName {
        text-align: center;
      }
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .fruitsMainBlock {
    box-sizing: border-box;
    width: 360px;
    height: 340px;
    background: #52c5ff;
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom: 14px;
    padding: 16px 2px 2px 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: hidden;
    z-index: 0;

    .fruitsMainBlockFilter {
      width: 100px;
      height: 300px;
      border: 2px solid #A9E3FF;
      border-radius: 10px;
      margin: 2px 2px 2px 2px;
      padding: 8px 4px;
      position: sticky;
      left: 0px;
      backdrop-filter: blur(3px);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #089ae4;
      z-index: 1;
  
      .filterTitle {
        width: 60px;
        height: 26px;
        font-size: 14px;
        font-weight: 500;
        color: white;
        display: flex;
        align-items: center;
        align-content: center;
        text-align: center;
        justify-content: center;
  
        .filterName {
          text-align: center;
        }
      }
    }
  }
}