.fruitsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fruitsLoading {
  color: white;
  font-size: 14px;
  margin-top: 160px;
}

/* Mobile */
@media (max-width: 700px) {
  .fruitsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}