.fruitImageSectionDesk {
  width: 270px;
  height: 360px;
  border-radius: 12px;
  box-shadow: 4px 4px 10px 0px rgba(12, 118, 178, 0.25), -4px -4px 10px 0px rgba(12, 118, 178, 0.25);
}

.fruitImageSectionMob {
  display: none;
}

/* Mobile */
@media (max-width: 700px) {
  .fruitImageSectionMob {
    display: block;
    margin-top: 8px;
    width: 340px;
    height: 304px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px 0px rgba(12, 118, 178, 0.25), -4px -4px 10px 0px rgba(12, 118, 178, 0.25);
  }

  .fruitImageSectionDesk {
    display: none;
  }
}